.container{
    display: flex;
    margin:5em,0.5em;
}
.card{
    display:block;
    border:2px solid;
    border-radius:2em;
    padding: 1em 2em;
    margin: 3em;
}
.card-img-top{
    border-radius: 2em;
    width:10em;
    height:5em;
    object-fit: cover;
}
#product{
    margin-top:5em;
    margin-left:5em;

}
.navig{
    display:flex;

}
.navbar a{
    display:block;
    border:2em;
    padding:0.5em;
    margin:1em;
}

form.container{
    display:block;
}
