
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ecommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Men</a>
          <a class="dropdown-item" href="#">Woman</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Customer</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<ul class="nav nav-tabs">
  <li class="nav-item"style="margin:2vw">
    <a class="nav-link active" href="#">Men</a>
  </li>
  <li class="nav-item"style="margin:2vw">
    <a class="nav-link" href="#">Woman</a>
  </li>
  <li class="nav-item" style="margin:2vw">
    <a class="nav-link" href="#">New Arrival</a>
  </li>
  <li class="nav-item"style="margin:2vw">
    <a class="nav-link " href="#">Top Seller</a>
  </li>
  <li class="nav-item"style="margin:2vw">
    <a class="nav-link " href="#">Gift Certificates</a>
  </li>
</ul>

<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
<div class="card"*ngFor="let product of productList" style="width: 18rem;margin-left:5em">
 <img class="card-img-top" src="{{product.imageUrl}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{product.name|uppercase}}</h5>
    <!-- <input [(ngModel)]="product2.name" placeholder="name"/> -->
    <p class="card-text" *ngIf="product.price < 250" style="color:red">$ {{product.price}} (*On Discount)</p>
    <p class="card-text" *ngIf="product.price >250">$ {{product.price}}</p>
    <a class="btn btn-primary" (click) = "onViewDetail(product.id)">{{product.description}}</a>
    
  </div>
</div>
</div>


<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{product1.imageUrl}}" alt="Nike shoes available for sell ">
  <div class="card-body">
    <h5 class="card-title">{{product1.name|uppercase}}</h5>
    <p class="card-text">id:{{product1.id}} <br>price:{{product1.price|currency}}</p>
    <a href="#" class="btn btn-primary">{{product1.description}}</a>
  </div> -->
  <!--  
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{product3.imageUrl}}" alt="Sketcher available for sell">
  <div class="card-body">
    <h5 class="card-title">{{product3.name|uppercase}}</h5>
    <p class="card-text">id:{{product3.id}} <br>price:{{product3.price|currency}}</p>
    <a href="#" class="btn btn-primary">{{product3.description}}</a>
  </div> -->
<!-- </div> -->
</div>
<div class="cont">
  <div class="brand">
    <div >
      <img src="../../assets/nike.jpg" style="width:100%;position:relative"alt="Nike shoes for sell">
    </div>
    <div >
      <h3>Brand</h3>
      <h4>Nike</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, aliquid.</p>
    </div>
  </div>
  
</div>
<nav aria-label="...">
  <ul class="pagination" style="margin-top:40em">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>